/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2a154;
    color: #ffffff;
}

/* Header Styles */
.header {
    background-color: #293241;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    color: #ffffff;
}

.header-nav {
    margin-right: 20px;
}

.header-nav a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

/* Hero Section Styles */
.tracking-hero {
    background-color: #f2a154; /* Background color for the hero section */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    max-width: 70%;
}

.hero-title {
    font-size: 32px;
    margin-bottom: 20px;
    color:white;
}

.hero-description {
    font-size: 18px;
    color:white;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

/* Tracking Form Styles */
.tracking-form {
    
    text-align: center;
    margin-top: 40px;
}

.form-title {
    font-size: 28px;
    margin-bottom: 20px;
}

.form-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tracking-input {
    width: 250px;
    padding: 10px;
    border: 1px solid #293241;
    border-radius: 5px;
    margin-right: 10px;
}

.track-button {
    background-color: #293241;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.track-button:hover {
    background-color: #f2a154;
    color: #ffffff;
}

/* Tracking Result Styles */
.tracking-result {
    text-align: center;
    margin-top: 40px;
}

.result-title {
    font-size: 28px;
    margin-bottom: 20px;
}

.result-content {
    font-size: 18px;
}

/* Footer Styles */
.footer {
    background-color: #293241;
    padding: 10px 0;
    text-align: center;
}

.footer-text {
    font-size: 14px;
    color: #ffffff;
}